gradio>=5.16.0
numpy>=1.24.0
transformers>=4.48.3
langchain>=0.3.18
langchain-community>=0.3.17
langchain-core>=0.3.35
langchain-huggingface>=0.1.2
llama-cpp-python>=0.3.7
huggingface-hub>=0.28.1
sentence-transformers>=3.4.1
chromadb>=0.6.3
jq>=1.8.0